@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, main {
    width: 800px;
    margin: 1rem auto; 
    font-family: "Roboto Slab", serif;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    height: 40px;
    text-indent: 10px;
}

button {
    width: 10%;
    height: 40px;
}


li {
    /* outline: 1px solid red; */
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#box-button {
    display: flex;
    justify-content: space-around;
    /* outline: 2px dotted black; */
    width: 20%;

}


#delete-button, #edit-button {
    flex: 1;
}

.new-span {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 75%;
    height: 40px;
}
