@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;

}

header, main {
    width: 800px;
    margin: 1rem auto; 
    font-family: "Roboto Slab", serif;
    padding: 1rem;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 89%;
    height: 40px;
    text-indent: 10px;
}

button {
    width: 7%;
    height: 35px;
}


li {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.add-task-btn {
    border: none;
    border-radius: 5px;
    background-color: hsl(134, 53%, 56%);
    font-size: 1em;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    transition: width 0.5s;
}

.add-task-btn:hover {
    cursor: pointer;
    width: 10%;
    background-color:hsl(134, 80%, 44%);
}

#box-button {
    display: flex;
    justify-content: space-around;
    width: 10%;
}


#delete-button, #edit-button {
    flex: 1;
    border: none;
    height: 30px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#edit-button {
    background-image: url('./images/edit-white.svg');
    background-color: rgb(70, 139, 213);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#delete-button {
    background-image: url('./images/delete-white.svg');
    background-color: #e96259;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#edit-button:hover {
    background-color: rgb(9, 105, 209);

}

#delete-button:hover {
    background-color: #e14237;
}

.new-span {
    display: flex;
    align-items: center;
    width: 89%;
    height: 40px;
    padding-left: 8px;
}
